# .gitignore
guessing_game/target/
guessing_game/Cargo.lock
guessing_game/.env
guessing_game/*.log
nubconcepts/target/
nubconcepts/Cargo.lock
nubconcepts/.env
nubconcepts/*.log
ccldummy/target/
ccldummy/Cargo.lock
ccldummy/.env
ccldummy/*.log
